mixin slider(data)
	.slider_header_block
		.slider_title= data.title
		.slider_description= data.description

	ul.slider_list
		each item, index in data.items
			li(class= `slider_item item${index + 1}`)
				+picture({
					typeJpeg: false,
					png: false,
					media: 768,
					is2x: false,
					contain: true,
					class: 'picture_bg_w',
					img: item.bg,
					img_mob: item.bg
				})
				.slider_item_text_block
					.slider_item_title= item.title
					.slider_item_description= item.descr
					a(href='#').slider_item_link
						+icon('arrow_2')


